body { font: 11px monospace }
td, th { padding: 2px 4px }
#chart { height: 600px; border: 1px solid #a8a8a8 }
#details { border-collapse: collapse }
#details tr { background-color: #fff; border-color: #a8a8a8 }
#details td { white-space: nowrap; border-color: #a8a8a8 }
#details thead { color: #2f2f2f; border-color: #a8a8a8 }
#details tr:nth-child(2n+1)  { background-color: #f8f8f8; border-color: #a8a8a8 }
#details thead > tr > th { padding-left: 10px }
#details { border-color: #a8a8a8 }
#details .highlighted { background-color: #abb9d3 !important }
.time-day {
    background-color: #eee;
    border-radius: 20px;
    color: #777;
    font-size: 80%;
    padding: 2px 2px;
    margin-bottom: 1px;
}
.flag {
    width: 16px;
    height: 11px;
    background: url("../images/thirdparty/flags.png") no-repeat;
    display: inline-block;
    /*margin-bottom: 2px;*/
    overflow: hidden; 
}
.flag.flag-unknown {
    background: url("../images/thirdparty/unknown.png") no-repeat;
}
.right { margin-left: auto; text-align: right }
